{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <!-- Row -->
            <div class="row">

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="post-details">
                                <h3 class="mb-2 text-dark">Use crypto news sources daily.</h3>
                                <ul class="mb-4 post-meta d-flex flex-wrap">
                                    <li class="post-author me-3">By Admin</li>
                                    <li class="post-date me-3"><i class="far fa-calendar-plus me-2"></i>18 Nov 2020</li>
                                    <li class="post-comment"><i class="far fa-comment me-2"></i>28</li>
                                </ul>
                                <img src="{% static 'financial/images/profile/1.webp' %}" alt=""
                                     class="img-fluid mb-3 w-100 rounded">
                                <p>A wonderful serenity has take possession of my entire soul like these sweet morning
                                    of spare which enjoy whole heart.A wonderful serenity has take possession of my
                                    entire soul like these sweet morning of spare which enjoy whole heart.</p>
                                <p>A collection of textile samples lay spread out on the table - Samsa was a travelling
                                    salesman - and above it there hung a picture that he had recently cut out of an
                                    illustrated magazine and housed in a nice, gilded frame.</p>
                                <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Has been the industry's standard text ever since the 1500s, when an unknown printer
                                    took a galley of type and scrambled it to make a type specimencenturies.
                                </blockquote>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet
                                    mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm
                                    of existence was created for the bliss of souls like mine.I am so happy, my dear
                                    friend, so absorbed in the exquisite sense of mere tranquil existence, that I
                                    neglect my talents.</p>
                                <div class="profile-skills mt-5 mb-5">
                                    <h4 class="text-primary mb-2">Skills</h4>
                                    <a href="javascript:void(0);;;" class="btn btn-primary light btn-xs mb-1">Admin</a>
                                    <a href="javascript:void(0);;;"
                                       class="btn btn-primary light btn-xs mb-1">Dashboard</a>
                                    <a href="javascript:void(0);;;"
                                       class="btn btn-primary light btn-xs mb-1">Photoshop</a>
                                    <a href="javascript:void(0);;;"
                                       class="btn btn-primary light btn-xs mb-1">Bootstrap</a>
                                    <a href="javascript:void(0);;;"
                                       class="btn btn-primary light btn-xs mb-1">Responsive</a>
                                    <a href="javascript:void(0);;;" class="btn btn-primary light btn-xs mb-1">Crypto</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

{% endblock %}

{% block additional_js %}

{% endblock %}