{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block content %}
<h1>News</h1>

<div class="news-list">
    {% for item in news %}
    <div class="news-item">
        <h2><a href="{% url 'financial_system:news_detail' news_id=item.news_id %}">{{ item.title }}</a></h2>
        {% if item.source %}
        <p>Source: <a href="{{ item.source }}" target="_blank">{{ item.source }}</a></p>
        {% endif %}
        <p class="news-date">Posted on: {{ item.news_dataTime|date:"Y-m-d" }}</p>
        <p>{{ item.content|linebreaks }}</p>
    </div>
    {% empty %}
    <p>No news items found.</p>
    {% endfor %}
</div>


{% endblock %}