<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static custom_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ dz_array.public.description }}"/>
    <meta property="og:title" content="{{ dz_array.public.og_title }}"/>
    <meta property="og:description" content="{{ dz_array.public.og_description }}"/>
    <meta property="og:image" content="{{ dz_array.public.og_image }}"/>
    <meta name="format-detection" content="telephone=no">


    <!-- PAGE TITLE HERE -->
    <title>{{ dz_array.public.title }}</title>

    {% for cssurl in dz_array.pagelevel.financial.financial_views.css|getdata:request.path %}
        <link rel="stylesheet" href="{% static cssurl %}">
    {% endfor %}
    {% for cssurl in dz_array.global.css %}
        <link rel="stylesheet" href="{% static cssurl %}">
    {% endfor %}
    {% block additional_css %}
    {% endblock %}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">

</head>

<body class="body">
<div class="authincation d-flex flex-column flex-lg-row flex-column-fluid">
    <div class="login-aside text-center  d-flex flex-column flex-row-auto">
        <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
            <div class="text-center mb-lg-4 mb-2 pt-5 logo">
                <img src="{% static 'financial/images/logo-white.png' %}" alt="">
            </div>
            <h3 class="mb-2 text-white">Welcome back!</h3>
            <p class="mb-4"> <br></p>
        </div>
        <div class="aside-image position-relative"
             style="background-image:url({% static 'financial/images/background/pic-2.png' %});">
            <img class="img1 move-1" src="{% static 'financial/images/background/pic3.png' %}" alt="">
            <img class="img2 move-2" src="{% static 'financial/images/background/pic4.png' %}" alt="">
            <img class="img3 move-3" src="{% static 'financial/images/background/pic5.png' %}" alt="">

        </div>
    </div>
    <div class="container flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
        <div class="d-flex justify-content-center h-100 align-items-center">
            <div class="authincation-content style-2">
                <div class="row no-gutters">
                    <div class="col-xl-12 tab-content">
                        <div id="sign-up" class="auth-form tab-pane fade show active form-validation">

                            <form action="{% url 'financial_system:register_action' %}" method="post">

                                {% csrf_token %}

                                <div class="text-center mb-4">
                                    <h3 class="text-center mb-2 text-dark">Sign up</h3>
                                    <span></span>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-xl-6 col-12">

                                    </div>
                                    <div class="col-xl-6 col-12">

                                    </div>
                                </div>
                                <div class="sepertor">
                                    <span class="d-block mb-4 fs-13"> With Phone Number </span>
                                </div>


                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                                             stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                             class="me-2 alert-icon">
                                            <polygon
                                                    points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                                            <line x1="15" y1="9" x2="9" y2="15"></line>
                                            <line x1="9" y1="9" x2="15" y2="15"></line>
                                        </svg>
                                        <strong>Error!</strong> {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="btn-close">
                                        </button>
                                    </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="mb-3">
                                    <label for="user_name" class="form-label required">Name</label>
                                    <input type="text" class="form-control" id="user_name" name="user_name"
                                           placeholder="username">
                                </div>
                                <div class="mb-3">
                                    <label for="phone_number" class="form-label required">Phone Number</label>
                                    <input type="text" class="form-control" id="phone_number" name="phone_number"
                                           placeholder="phone number">
                                </div>
                                <div class="mb-3">
                                    <label for="user_gender" class="form-label required">Gender</label>
                                    <select class="default-select  form-control wide mb-3" id="user_gender" name="user_gender" required>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="user_email" class="form-label required">Email
                                        address</label>
                                    <input type="email" class="form-control" id="user_email" name="user_email"
                                           placeholder="Email">
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label required">Password</label>
                                    <input type="password" id="password" class="form-control" value="" name="password">
                                    <span class="show-pass eye">
											<i class="fa fa-eye-slash"></i>
											<i class="fa fa-eye"></i>

										</span>
                                </div>

                                <button type="submit" class="btn btn-block btn-primary">Sign me up</button>

                            </form>
                            <div class="new-account mt-3 text-center">
                                <p class="font-w500">Already have an account? <a class="text-primary"
                                                                                 href="{% url 'financial_system:login' %}">Sign
                                    in</a></p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
{% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.financial.financial_views.js|getdata:request.path %}
    <script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
{% endblock %}
</body>
</html>