{% extends 'base.html' %}
{% load static %}

{% block additional_css %}
{% endblock %}

{% block content %}

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">


               {% include 'elements/nav-tool.html' %}
            </div>
            <div class="row">
                <h2>User Profile</h2>

                {% if user %}
                    <form method="post" enctype="multipart/form-data"
                          action="{% url 'financial_system:edit_user_profile_action' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="photo">Profile Picture:</label>
                            <input type="file" id="photo" name="photo" class="form-control">
                            <img src="{{ user.photo.url }}" alt="User Photo"
                                 style="width: 100px; height: auto; border-radius: 50%;">
                        </div>

                        <div class="form-group">
                            <label for="user_name">Name:</label>
                            <input class="form-control" type="text" id="user_name" name="user_name"
                                   value="{{ user.user_name }}" required>
                        </div>

                        <div class="form-group">
                            <label for="user_gender">Gender:</label>
                            <select class="form-control" id="user_gender" name="user_gender" required>
                                <option value="Male" {% if user.user_gender == "Male" %} selected {% endif %}>Male
                                </option>
                                <option value="Female" {% if user.user_gender == "Female" %}selected{% endif %}>Female
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="phone_number">Phone Number:</label>
                            <input class="form-control" type="text" id="phone_number" name="phone_number"
                                   value="{{ user.phone_number }}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="user_email">Email:</label>
                            <input class="form-control" type="email" id="user_email" name="user_email"
                                   value="{{ user.user_email }}" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="password">
                        </div>

                        <div class="form-group">
                            <label for="confirm_password">Confirm Password:</label>
                            <input class="form-control" type="password" id="confirm_password" name="confirm_password">
                        </div>


                        <div class="form-group">
                            <button class="btn btn-primary " type="submit">Save Changes</button>
                        </div>
                    </form>
                {% else %}
                    <p>{{ message }}</p>
                {% endif %}

            </div>

        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

{% endblock %}

{% block additional_js %}

{% endblock %}

