{% extends "base.html" %}

{% block title %}{{ stock.stock_name }}{% endblock %}

{% block content %}
<h1>{{ stock.stock_name }}</h1>
<table>
    <thead>
        <tr>
            <th>Stock Name</th>
            <th>Issuance Time</th>
            <th>Yesterday's Closing Price</th>
            <th>Today's Opening Price</th>
            <th>Stock Type</th>
            <th>Block</th>
            <th>Change Extent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ stock.stock_name }}</td>
            <td>{{ stock.issuance_time }}</td>
            <td>{{ stock.closing_price_y }}</td>
            <td>{{ stock.open_price_t }}</td>
            <td>{{ stock.stock_type }}</td>
            <td>{{ stock.block }}</td>
            <td>{{ stock.change_extent }}%</td>
        </tr>
    </tbody>
</table>

{% include "trade.html" %}

{% include "comments.html" %}

{% endblock %}
